.profile-img {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 7px;
  margin-left: 10px;
}

.profile-name {
  height: 50px;
  float: left;
  margin-left: 10px;
  margin-top: 25px;
}
.unstars {
  height: 50px;
  float: left;
  margin-left: 20px;
  margin-top: 17px;
}