// background colors

.bg-white      { background-color: $color-white !important; }
.bg-white-vk   { background-color: $color-white-vk !important; }
.bg-smoke      { background-color: $color-smoke !important; }
.bg-blue       { background-color: $color-blue !important; }
.bg-green      { background-color: $color-green !important; }
.bg-red        { background-color: $color-red !important; }
.bg-yellow     { background-color: $color-yellow !important; }
.bg-dark       { background-color: $color-dark !important; }
.bg-gray       { background-color: $color-gray !important; }
.bg-sett       { background-color: $color-sett !important; }

// text colors

.txt-white      { color: $color-white !important; }
.txt-white-vk   { color: $color-white-vk !important; }
.txt-smoke      { color: $color-smoke !important; }
.txt-blue       { color: $color-blue !important; }
.txt-green      { color: $color-green !important; }
.txt-red        { color: $color-red !important; }
.txt-yellow     { color: $color-yellow !important; }
.txt-dark       { color: $color-dark !important; }
.txt-gray       { color: $color-gray !important; }
.txt-sett       { color: $color-sett !important; }