.i50-dev0 {background-image: $i50-dev0 !important;}
.i50-dev1 {background-image: $i50-dev1 !important;}
.i50-dev2 {background-image: $i50-dev2 !important;}
.i50-dev3 {background-image: $i50-dev3 !important;}

.i50-gam0 {background-image: $i50-gam0 !important;}
.i50-gam1 {background-image: $i50-gam1 !important;}
.i50-gam2 {background-image: $i50-gam2 !important;}
.i50-gam3 {background-image: $i50-gam3 !important;}

.i50-cub0 {background-image: $i50-cub0 !important;}
.i50-cub1 {background-image: $i50-cub1 !important;}
.i50-cub2 {background-image: $i50-cub2 !important;}
.i50-cub3 {background-image: $i50-cub3 !important;}

.i50-user {background-image: $i50-user !important;}
.i50-news {background-image: $i50-news !important;}
.i50-stat {background-image: $i50-stat !important;}
.i50-dev-top {background-image: $i50-dev-top !important;}
.i50-gam-top {background-image: $i50-gam-top !important;}
.i50-question {background-image: $i50-question !important;}
.i50-achi {background-image: $i50-achi !important;}
.i50-star {background-image: $i50-star !important;}
.i50-rat {background-image: $i50-rat !important;}
.i50-activ {background-image: $i50-activ !important;}

.i32-dev0 {background-image: $i32-dev0 !important;}
.i32-gam0 {background-image: $i32-gam0 !important;}
.i32-cub0 {background-image: $i32-cub0 !important;}
.i32-user {background-image: $i32-user !important;}
.i32-u-rang {background-image: $i32-u-rang !important;}
.i32-news {background-image: $i32-news !important;}
.i32-rew {background-image: $i32-rew !important;}
.i32-sett {background-image: $i32-sett !important;}
.i32-stat {background-image: $i32-stat !important;}
.i32-star {background-image: $i32-star !important;}
.i32-rat {background-image: $i32-rat !important;}
.i32-activ {background-image: $i32-activ !important;}

.i50-logout {background-image: $i50-logout !important;}
.i50-logo {background-image: $i50-logo !important;}
.i200-logo {background-image: $i200-logo !important;}
.i50-vk {background-image: $i50-vk !important;}
.i50-libgdx-gr {background-image: $i50-libgdx-gr !important;}
.i-download-gp {background-image: $i-download-gp !important;}
.i-adm-zone {background-image: $i-adm-zone !important;}
.i20-star {background-image: $i20-star !important;}
.i32-question {background-image: $i32-question !important;}