@font-face {
  font-family: "BebasNeueBold";
  src: local("BebasNeueBold"), url("../fonts/BebasNeueBold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "PTSansNarrowRegular";
  src: local("PTSansNarrowRegular"), url("../fonts/PTSansNarrowRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "icomoon";
  src:  url("../fonts/icomoon.eot?3tzcgz");
  src:  url("../fonts/icomoon.eot?3tzcgz#iefix") format("embedded-opentype"),
  url("../fonts/icomoon.ttf?3tzcgz") format("truetype"),
  url("../fonts/icomoon.woff?3tzcgz") format("woff"),
  url("../fonts/icomoon.svg?3tzcgz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-dice:before {
  content: "\e915";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-android:before {
  content: "\eac0";
}
.icon-libreoffice:before {
  content: "\eae3";
}