// colors
$color_white: #fff;
$color_white_vk: #edeef0;
$color_smoke: #ccc;
$color_red: #e84e3e;
$color_yellow: #ff7700;
$color_blue: #51aae8;
$color_green: #14aa14;
$color_sett: #464646;
$color_sett_border: #c8c8c8;
$color_dark: #323232;
$color_gray: #3e4149;

// fonts
$framework_font: "BebasNeueBold";
$title_font: "PTSansNarrowRegular";